html, body{
margin:0;
   padding:0;
   height:100%;
}

body {
  background: linear-gradient(to right bottom, #2d2b3d, #151829);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 100%;
  min-height:100%;
  position: relative;
}

.prices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 5em;
  padding: 5em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20%;
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
      .prices {
  padding-bottom: 60rem;
}

}


.priceBox {
  background: linear-gradient(#8e2de2, #4a00e0);
  min-height: 500px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(60, 60, 60, 0.2);
  transition: all 0.1s ease-in-out;
  border-radius: 0.3rem;
  padding: 1rem;
  display: grid;
  justify-content: space-evenly;
}

.priceBox h2 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: white;
}

.priceBox ul {
  text-align: left;
}

.priceBox ul li,
p,
h3,
h4 {
  color: white;
  font-family: "Open Sans", sans-serif;
}

.priceBox p {
  margin-bottom: 2rem;
}

.priceBox h3 {
  margin: 0;
}

.priceBox h4 {
  font-size: 1.2rem;
}

.priceBox:nth-child(2n) {
  position: relative;
}

.priceBox:hover > span .fas {
  transform: rotate(360deg);
  transition: transform 0.5s;
}

.priceBox:hover > .preferred {
  transform: scale(1.09) rotate(-20deg);
}



.preferred {
  background-color: gold;
  color: white;
  padding: 0.3rem 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  transform: rotate(-20deg);
  position: absolute;
  top: -1rem;
  left: -0.05rem;
  border-radius: 0.2rem;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease-in-out;
}

.button {
  background: #4a148c;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgba(60, 60, 60, 0.2);
}

.button:hover {
  background: linear-gradient(#2e1c44, #1b0338);
}

.priceBox:hover {
  transform: scale(1.05);
  box-shadow: 7px 7px 10px rgba(60, 60, 60, 0.2);
}

.largeIcon {
  border-radius: 50%;
  background: linear-gradient(#bc4e9c, #f80759);
  box-shadow: 5px 5px 10px rgba(60, 60, 60, 0.2);
  padding: 2rem;
  margin-top: 1rem;
  color: white;
  transition: all 2s ease-in-out;
  transform: rotate(0deg);
  transition: transform 0.0001s;
}

.smallIcon {
  border-radius: 50%;
  background: white;
  box-shadow: 5px 5px 10px rgba(60, 60, 60, 0.2);
  padding: 0.2rem;
  margin-top: 1rem;
  color: black;
}


.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 30%;
    background-color: #4a148c;
    color: whitesmoke;
}

.footerInner{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.footerInner ul{
    list-style: none;
    padding: 0% 20%;
    /* margin: 0; */
}

.footerInner ul li{
    font-family: "Roboto", sans-serif;
    padding-bottom: 15px;
}

.footerInner ul li:hover{
    text-decoration: underline;
}

.footerInner ul li:first-child{
    text-decoration: none;    
    font-weight: 500;
    font-size: 1.1rem;
    color: #C54492;
    padding-bottom: 15px;
}


.footer hr {
    border-top: .005rem solid #603891;
}

.footerInnerBottom{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.footerInnerBottom ul li{
    list-style: none;
    display: inline;
    font-family: "Roboto", sans-serif;
    padding: .7rem .9rem;
} 

.footerInnerBottom:last-child{
    background: #C54492;
}

.footerInnerBottom ul li:first-child, .footerInnerBottom ul li:last-child{
    padding: .7rem 1.1rem;   
} 
