html, body{
margin:0;
   padding:0;
   height:100%;
}

body {
  background: linear-gradient(to right bottom, #2d2b3d, #151829);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 100%;
  min-height:100%;
  position: relative;
}
.body{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25%;
}

.prices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 4rem;
  padding: 2rem 1rem;
  
}


.priceBox {
  background: linear-gradient(#8e2de2, #4a00e0);
  min-height: 500px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(60, 60, 60, 0.2);
  transition: all 0.1s ease-in-out;
  border-radius: 0.3rem;
  padding: 1rem;
  display: grid;
  justify-content: space-evenly;
}

.body h2 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: white;
}

.priceBox ul {
  text-align: left;
}

.priceBox ul li,
p,
h3,
h4 {
  color: white;
  font-family: "Open Sans", sans-serif;
}

.priceBox p {
  margin-bottom: 1rem;
}

.priceBox h3 {
  margin: 0;
}

.priceBox h4 {
  font-size: 1.2rem;
}

.priceBox:nth-child(2n) {
  position: relative;
}

.priceBox:hover > span .fas {
  transform: rotate(360deg);
  transition: transform 0.5s;
}



/* Best Value Banner Start*/
.preferred {
  background-color: gold;
  color: white;
  padding: 0.3rem 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  transform: rotate(-20deg);
  position: absolute;
  top: -1rem;
  left: -0.05rem;
  border-radius: 0.2rem;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease-in-out;
}

.priceBox:hover > .preferred {
  transform: scale(1.09) rotate(-20deg);
}
/* Best Value Banner End*/



.button {
  background: #1D023D;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgba(60, 60, 60, 0.2);
}

.button:hover {
  background: linear-gradient(#2e1c44, #1b0338);
}

.priceBox:hover {
  transform: scale(1.05);
  box-shadow: 7px 7px 10px rgba(60, 60, 60, 0.2);
}

.largeIcon {
  border-radius: 50%;
  background: linear-gradient(#bc4e9c, #f80759);
  box-shadow: 5px 5px 10px rgba(60, 60, 60, 0.2);
  padding: 2rem;
  margin-top: 1rem;
  color: white;
  transition: all 2s ease-in-out;
  transform: rotate(0deg);
  transition: transform 0.0001s;
}

.smallIcon {
  border-radius: 50%;
  background: white;
  box-shadow: 5px 5px 10px rgba(60, 60, 60, 0.2);
  padding: 0.2rem;
  margin-top: 1rem;
  color: black;
}



/* Footer Start ----------------------------------------------- */
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 30%;
    background-color: #1D023D;
    color: whitesmoke;
}

.footerInner{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.footerInner ul{
    list-style: none;
    padding: 0% 20%;
    /* margin: 0; */
    
}

.footerInner ul li{
    font-family: "Roboto", sans-serif;
    padding-bottom: 15px;
    
}

.footerInner ul li:hover{
    text-decoration: underline;
}

.footerInner ul li:first-child{
    text-decoration: none;    
    font-weight: 500;
    font-size: 1.1rem;
    color: #C54492;
    padding-bottom: 15px;
}

.footer hr {
    border-top: .005rem solid #603891;
}

.footerInnerBottom{
  display: none;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.footerInnerBottom ul li{
    list-style: none;
    display: inline;
    font-family: "Roboto", sans-serif;
    padding: .7rem .9rem;
    text-align: right;
} 

.footerInnerBottom ul li:first-child, .footerInnerBottom ul li:last-child{
    padding: .7rem 1.1rem;   
} 
/* Footer End ----------------------------------------------------- */

/* Navbar Start -------------------------------------------------- */

.nav{
  width: 100%;
  background: #4a148c;
  min-height: 3rem;
}

.navInner{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: space-evenly;
}

.logo{
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}

.navInner ul{
  list-style: none;
  text-align: right;
  
}

.navInner ul li{
  display: inline;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  line-height: 40px;
}

.navInner ul  :not(:last-child)
{
  margin-right: 1rem;
}
/* Navbar End ---------------------------------------------------- */





  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 600px) {
    .prices {
      padding-bottom: 20rem;
    }

    .footer{
      position: absolute;
      bottom: 0;
      min-height: 10%;
    }

    .footerInner{
      display: none;
    }

    .footerInnerBottom{
    width: 90%;
    }

    .footerInnerBottom ul li{

      display: block;
    }
    
    .d-none{
      display: none;
    }
  }